$PrimaryFont: "Open Sans", sans-serif;

$DarkBlue: #162d49;
$SecondDarkBlue: #144d80;
$lightBlue: #477ff6;
$SecondLightBlue: #3fa0d3;
$Green: #029627;
$DarkGreen: #02b11fe7;
$LightGreen: #85bd6d;
$Orange: #fe9000;
$BlackColor: #000000;
$WhiteColor: #ffffff;
$transparentColor: transparent;
$Red: #ec2323;
$BlackText: #1e2022;
$Grey: #8c98a4;
$DarkGrey: #677788;
$RougeBordeau: #a81f15;
//filter blue in properties table filters (Maisons, à vendre) and plus floating icon
$FilterOnHoverBlue: #377dff;
$TransactionNumberBlue: rgba(#377dff, 0.1);
//filter blue in properties table filters (Toutes)
$FilterBlue: #0052ea;
//grey color on hover of drop down buttons displayed in properties table (Prospect, Mandat ,En vente ...)
$OnHoverGrey: #d2d2d2;
//properties blue table row
$PropertiesRowBlue: #f4f8ff;
//Login, Créer un nouveau bien properties button background and border color
$ButtonBlue: #377dff;
//Login, Créer un nouveau bien properties button on hover background color
$OnHoverButtonBlueBg: #1164ff;
//Login, Créer un nouveau bien properties button on hover border color
$OnHoverButtonBlueBorder: #045cff;
//header icons : notifications ...
$HeaderGreyIcon: #71869d;
//header icons on hover
$HeaderIconOnHover: #ebf2ff;
//sidebar text item black
$SiderbarItemBlack: #132144;
//properties table drawer input filter border
$InputFilterBorder: #e7eaf3;
//input placeholder
$InputPlaeholder: #cdcdcd;
//price filter grey color
$PricefilterGrey: #e1e4e9;
//price filter values
$PriceFilterInterval: #999;
//input filter close icon on focus
$CloseIconOnHover: #333;
//stepper grey
$StepperGrey: #e7e8ec;
// Login stepper grey
$LoginStepperGrey: #1321441a;
$DoneIcon: #3e82ff;
$BackgrounColorGreyLigth: #377dff1a;
$SignupGreyBg: #f9fafc;
$BorderInputBlue: #86b7fe;
$NavIndicatorIconColor: #bdc5d1;
$RadioGrey: #d6dbeb;
//hover agent input selected item
$HoverInputSelectedItem: #d3e2e2;
$GreyLight: #00000080;
$backgroundDisabledInput: #f8fafd;
$whiteSpace: #fff;
$Yellow: #ffc400;
$SelectGrey: #bdc5d14d;
$MiGrey: #818283;
