.form-check-input:focus ~ .form-check-label::before,
.form-check-input:active ~ .form-check-label::before {
    box-shadow: 0 0 0 0 transparent;
    background-color: $ButtonBlue;
    border-color: $ButtonBlue;
}

.form-check-input:checked ~ .form-check-label::after {
    box-shadow: 0 0 0 0 transparent;
    content: "\2714";
    position: absolute;
    font-size: 8px;
    z-index: 1;
    color: #fff;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
}
.container-check {
    width: max-content;
}

.form-check-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: $ButtonBlue;
    border-color: $ButtonBlue;
}

.form-check-input.is-invalid, .was-validated .form-check-input:invalid{
    border-color: $Red;
    box-shadow: 0 0 10px rgb(236 35 35 / 10%); 
}
