@media screen and (min-width: 768px) {
    .container-auth {
        max-width: calc(58.33333% - 30px);
    }
}
@media screen and (max-width: 768px) {
    .auth-page {
        padding-left: 15px;
        padding-right: 15px;
    }
}
