@media screen and (min-width: 576px) {
  .signup-stepper{
    padding-left: 15px;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
  .final-step-icon-text-container{
    display: flex;
  }
}

  